
.border-btn-dropdown {
    height : 50px !important;
    line-height: 50px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 10px;
    padding-right:5px;
}
.custom-dropdown-menu {
     text-align: center;
     font-size: 17px;
     transform: translate3d(0px, -208px, 0px) !important;
     &::before{
        right: 3rem !important;
        border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
        border-top: 1px solid transparent !important;
        border-left: 1px solid transparent !important;
        top: 190px !important;
     }
}
@media (max-width: 576px) {
    .custom-paging {
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }
  }